<nav class="navbar navbar-expand-md navbar-light bg-light">
 
    <a class="navbar-brand" href="#">
    <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="Malas Ngoding"> Belajar
	</a>
 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
 
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
 
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="pemain">Pemain <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="karyawan">Karyawan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="posts">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="customers-list">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="people-list">People</a>
        </li>
        <li class="nav-item dropdown active">
			      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
			        Link
			      </a>
			      <div class="dropdown-menu">
			        <a class="dropdown-item" href="https://www.w3schools.com/html/default.asp">HTML</a>
			        <a class="dropdown-item" href="https://www.w3schools.com/">W3Schools</a>
			        <a class="dropdown-item" href="#">NodeJs</a>
			        <a class="dropdown-item" href="https://mdbootstrap.com/education/bootstrap/">Bootstrap</a>
			        <div class="dropdown-divider"></div>
			        <a class="dropdown-item" href="https://github.com/">Git</a>
			        <a class="dropdown-item" href="https://jsonplaceholder.typicode.com/">JSON</a>
			      </div>
			</li>
      </ul>
      <a href="https://youtube.com" class="btn btn-outline-danger mr-3">Youtube</a>
      <a href="https://angular.io" class="btn btn-outline-primary mr-3">Angular</a>
      <a class="btn btn-secondary" routerLink="login">Login</a>
   </div>
 </nav>